*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(221, 213, 213);
}
.card__wrapper{
    width: 1140px;
    margin: auto;
    
}
.card__wrapper .card_item{
    display: inline-block;
    height: 670px;
    width: 49.7%;
    border: 1px solid black;
    padding: 45px;
    background-color: white;
    vertical-align: top;
    border-radius: 20px;
}
.card__wrapper .card_item input{
    display: block;
    width: 100%;
    height: 30px;
    padding:30px;
    border: none;
    border-bottom: 1px solid gray;
    
}
.card__wrapper .card_item:nth-child(1){
    background-image: url(./Rectangle\ 6.png    );
    

}
.card__wrapper .card_item button{
    width: 100%;
    height: 50px;
    color: white;
background-color: blueviolet        ;
border-radius: 10px;
}
.card__wrapper .card_item h2{
    color: white;
    width: 389px;
    font-size: 50px;
height: 138px;
top: 222px;
left: 204px;
gap: 0px;
opacity: 0px;

}
.card__wrapper .card_item p{
    color: white;
    width: 347px;
    height: 52px;
    top: 385px;
    left: 204px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 16mjpx;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
        margin: 70px;
        margin: 50px 0px 0px;
}


    

